@use '../../../shared/styles/shared-styles.scss';

.list-cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.list-card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  padding: 1rem;
  transition: 0.2s ease;
  &:hover {
    transform: translateY(-2px);
  }
}

.actions {
  display: flex;
  gap: 0.4rem;
  justify-content: flex-end;
}
